/*------ Admin-Products Page ------*/
#admin_products {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 240px 1fr;

  .section {
      padding: 20px;
  }

  .actions {
      display: flex;
      //justify-content: space-between;
      justify-content: flex-start; /* Выравнивание по левому краю */
      margin-bottom: 20px;
      gap: 10px; /* Небольшой отступ между элементами */
  }

  .action-icon {
      font-size: 24px;
      margin-right: 10px;
      cursor: pointer;
  }

  .product-table {
      width: 100%;
      border-collapse: collapse;
  }

  .product-table th, .product-table td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
  }

  .product-table th {
      background-color: #032e59;
  }

  .selected-row {
      background-color: #0259b0; /* Цвет выделенной строки */
      text-color: white;
  }

}
